<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Orders" connectionString="Data Source=.\Orders.db"/>
		<add name="Database" connectionString="Data Source=.\Database.db"/>
		<add name="Customers" connectionString="Data Source=.\Customers.db"/>
	</connectionStrings>

</configuration>